* {
  margin: 0;
  padding: 0;
}

body {
  background-color: azure;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
}

button:active {
  background-color: green;
  color: white;
}

.button-play {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: none;
  background-color: red;
  color: white;
  user-select: none;
  font-size: 30px;
}

h1 {
  font-size: 420px;
  color: #021011;
  user-select: none;
}

.landing-container {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.88889;
  color: #888;
}

.header__screen {
  background-image: url('../img/background-landing-page.jpg');
  background-size: cover;
  min-height: 1200px;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.about {
  min-height: 500px;
  display: flex;
  align-items: center;
}

.about__container {
  background-color: azure !important;
  max-width: 800px;
  margin: 0 auto;
}

.about__header,
.authors__header {
  font-size: 40px;
  line-height: 1.35;
  font-weight: 200;
  color: #151515;
}

.about * + p {
      margin-top: 28px;
  }

.screenshots__screenshot {
  background-image: url('../img/screenshot-battle.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
}

.authors {
  padding-top: 30px;
  min-height: 400px;
}

.authors__container {
  display: flex;
  align-content: center;
}

.authors__KatieVo,
.authors__AndrewMik {
  width: 50%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.authors h2 {
  color: black;
}

.img-circle {
  border-radius: 50%;
}

.authors__container img {
  width: 150px;
}

.authors p {
  padding-top: 10px;
  font-size: 14px;
}