* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.register-form {
  background-color: #f3f4f5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  width: 320px;
  height: 94vh;
  color: #494949;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="text"] {
  padding: 0;
  border: none;
  border-bottom: 1px solid #dddee1;
  box-sizing: border-box;
  transition: all 0.3s;

  font-weight: 400;
  outline: none;
  background: transparent;
  height: 40px;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.form__input {
  width: 100%;
}

input[type="text"]:focus {
  border: none !important;
  border-bottom: 1px solid #3b8ad6 !important;
}

input:placeholder-shown {
  color: #787878;
  font-weight: 400;
}

input[type="submit"] {
    margin-top: 20px;
  background-color: #fecc00;
  border: 2px solid #fecc00;
  color: #494949;
  font-weight: 600;
  height: 3rem;
  display: inline-block;
  transition: opacity 0.3s, color 0.3s, background-color 0.3s, border-color 0.3s;
  cursor: pointer;
  vertical-align: middle;
}

.form__button {
  font-size: 1.375em;
  width: 200px;
}

input[type="submit"]:hover {
  background-color: #f2c201;
  border: 2px solid #f2c201;
}

.slide__img {
  background-image: url('../img/heros-sprite.png');
  width: 267px;
  height: 391px;
}

.character-select {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 20px;
  right: 20px;
  width: 300px;
}

.role__slider {
  box-sizing: border-box;
  font-weight: 300;
  line-height: 20px;
  margin: 10px;
  width: 280px;
  height: 391px;
  overflow: hidden;
  position: relative;
}

.role__slide {
  transition: transform 1s;
  text-align: center;
  padding: 0 10px;
  width: 280px;
  height: inherit;
  overflow: auto;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.part-select {
  position: relative;
}

.form__choose-char-label {
  margin-top: 20px;
}

.game-container {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}

.role__prev,
.role__next {
  height: 390px;
  width: 40px;
  position: absolute;
  background: inherit;
  cursor: pointer;
  z-index: 1;
  transition: background 0.5s, border 0s;
}

.role__prev {
  left: -15px;
}

.role__next {
  right: -15px;
  top: 0;
}

.role__prev:hover {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, rgb(243, 244, 245) 0%, rgb(239, 236, 236) 88%, rgb(232, 230, 230) 100%);
}

.role__next:hover {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left, rgb(243, 244, 245) 0%, rgb(239, 236, 236) 88%, rgb(232, 230, 230) 100%); 
}

.role__prev-button,
.role__next-button {
  width: 15px;
  height: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.54);
  border-left: 2px solid rgba(0, 0, 0, 0.54);
  box-sizing: border-box;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  transition: 0.5s;
  position: absolute;
  top: 45%;
}

.role__prev-button {
  transform: rotate(-45deg);
  left: 15px;
}

.role__next-button {
  transform: rotate(135deg);
  right: 15px;
}

.role__indicators {
  margin: 0 15px;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  font-size: 0;
}

.indicator__item {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: 0.5s;
}

.indicator__item:last-child {
  margin-right: 0;
}

.indicator__item--active,
.indicator__item:hover {
  background-color: #4054b2;
  transform: scale(1.5);
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  user-select: none;
  z-index: 1;
  display: flex;
}

.modal--task {
  background-color: rgba(255, 255, 255, 0.9);
}

.modal__content {
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 2rem;
  border: 2px solid #fecc00;
  background-image: url("../img/background-choose-spell.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 300px;
  min-width: 700px;
}

.modal__content--scores {
  width: 80%;
  height: 80%;
  background-image: none;
  background-color: rgba(0,0,0,0.8);
}

.modal__content--task {
  height: fit-content;
  background-image: none;
  min-height: 150px;
  min-width: 400px;
  width: fit-content;
  max-width: 900px;
}

.task__condition--remember-words p {
  visibility: hidden;
  font-size: 21px;
}

.modal__text {
  text-align: center;
  color: azure;
  font-size: 30px;
}

.modal__text--task {
  color: #494949;
}

.task__img {
  background: url('../img/animals-sprite.png');
  width: 300px;
  height: 350px;
}

.modal__spells,
.modal__top-scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
  height: 50%;
  align-items: center;
}

.modal__top-scores {
  flex-direction: column;
}

.modal__top-scores {
  color: white;
}

.spells__item {
  width: 150px;
  height: 150px;
  opacity: 0.8;
  border: 1px solid white;
  box-shadow: 0 0 0px 7px black;
  background-color: rgba(255,255,255);
  background-size: cover;
}

.spells__item:hover {
  opacity: 1;
  transform: scale(1.2);
}

.task--math {
  background-image: url('../img/task-math.png');
}

.task--translation {
  background-image: url('../img/task-translation.png');
}

.task--sort-letters {
  background-image: url('../img/task-sort-letters.png');
}

.task--listening {
  background-image: url('../img/task-listening.png');
}

.task--antonyms {
  background-image: url('../img/task-antonyms.png');
}

.task--odd-word {
  background-image: url('../img/task-odd-word.png');
}

.task--cases {
  background-image: url('../img/task-cases.jpg');
}

.task--animals {
  background-image: url('../img/task-animals.png');
}

.task--spelling {
  background-image: url('../img/task-spelling.png');
}

.task--sequence {
  background-image: url('../img/task-sequence.png');
}

.task--comparison {
  background-image: url('../img/task-comparison.png');
}

.task--truth-or-lie {
  background-image: url('../img/task-truth-or-lie.png');
}

.task--city-or-country {
  background-image: url('../img/task-city-or-country.png');
}

.task--word-colors {
  background-image: url('../img/task-word-colors.jpg');
}

.task--remember-words {
  background-image: url('../img/task-remember-words.jpg');
}

.hero, .monster {
    bottom: 40px;
    width: 300px;
}

.hero {
    position: absolute;
    left: 0;
    transform: translate(-330px);
    background-image: url('../img/heros-sprite.png');
    height: 390px;
    width: 267px;
}

.monster {
    position: absolute;
    display: flex;
    width: 326px;
    right: 0;
    transform: translate(330px);
    flex-wrap: wrap;
    align-items: flex-end;
}

.monster__figure {
  width: 234px;
  height: 280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero--appear {
  transform: translate(200px);
  transition: transform 2s;
}

.monster--appear {
    transform: translate(-200px);
    transition: transform 2s;
}

.monster--hide {
  transform: translate(500px);
  transition: transform 2s;
}

.monster__head, .monster__body {
    background-repeat-y: no-repeat;
}

.monster__head {
    background-image: url('../img/heads-sprite.png');
    height: 128px;
    width: 184px;
}

.monster__body {
    background-image: url('../img/bodies-sprite.png');
    height: 152px;
    width: 234px;
}

.monster__satellite {
  background-image: url('../img/satellites-sprite.png');
    height: 136px;
    width: 92px;
}

.game-info-panel {
    width: 100%;
    height: 150px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.panel__hero-state {
    width: 300px;
    padding: 20px;
    flex-wrap: wrap;
    display: flex; 
}

.state__name {
  width: 100%;
}

.state--monster {
    justify-content: flex-end;
    text-align: right;
}

.state__health-box {
    width: 200px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
}

.state__health-hero,
.state__health-monster {
  height: inherit;
  width: 100%;
  background-color: rgb(255, 0, 0);
  transition: width 1s;
}

.panel__level {
    background-color: #4054b2;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fight-box {
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 4px solid rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid rgba(0, 0, 0, 0.4);
    position: absolute;
    top: calc(50% - 60px);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.fight-box--hidden {
    display: none;
}

.fight-box--collapse {
    animation: fightCollapse 1s forwards;
}

.fight-box__text {
    font-size: 48px;
}

.fight-box__text--slide {
  animation: fightSlide 4s forwards;
}

.element--hidden {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.modal__task p {
  margin: 10px;
}

.modal__task {
  font-size: 30px;
  font-weight: bold;
  color: #0643d6;
}

.task__condition {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.task__button {
  width: 100%;
  font-size: 24px;
}

.task__repeat-button,
.task__show-button {
  min-width: 100px;
  border-radius: 5px;
  color: #fff;
  background-color: #494949;
  font-size: 14px;
  height: 40px;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.task__show-button:disabled {
  color: gray;
  opacity: 0.5;
}

.task__repeat-button:focus,
.task__show-button:focus {
  outline: none;
}

.task__color {
  width: 150px;
  text-align: center;
}

.task__input {
  width: 100px;
  margin-left: 10px;
  font-size: 40px;
  text-align: center;
  color: green;
}

.task__input:placeholder-shown {
  font-size: 20px;
}

.task__condition--listening .task__input,
.task__condition--antonyms .task__input,
.task__condition--translation .task__input,
.task__condition--guess-animal .task__input,
.task__condition--word-color .task__input,
.task__condition--remember-words .task__input {
  width: 210px;
  margin-left: 30px;
  box-sizing: border-box;
}

.task__condition--comparison,
.task__condition--truth-or-lie,
.task__condition--city-or-country {
  flex-wrap: wrap;
}

.comparison__nums p:nth-child(2) {
  color: green;
  font-size: 18px;
  font-weight: normal;
}

.task__condition--comparison > p,
.task__condition--truth-or-lie > p,
.task__condition--city-or-country > p, 
.task__condition--oddword p {
  width: fit-content;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.comparison__nums,
.city-or-country__name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.truth-or-lie__question,
.city-or-country__name {
  width: 100%;
  text-align: center;
  font-weight: normal;
  color: green;
}

.task__condition--spelling .task__input {
  width: 45px;
}

.task__condition--spelling .task__input::-webkit-input-placeholder {
  color: transparent;
}

.task__condition--oddword .ui-selected,
.task__condition--comparison > p.ui-selected,
.task__condition--truth-or-lie > p.ui-selected,
.task__condition--city-or-country > p.ui-selected {
  padding-left: 10px;
  padding-right: 10px;
  background: #F39814; 
  color: white; 
  border-radius: 5px;
}

.task__condition--cases {
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}

.task__condition--cases p,
.task__condition--cases .task__input {
  width: 45%;
  text-align: center;
}

.task__condition--sortletters p {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.dialogue__hero,
.dialogue__monster {
  background-image: url('../img/dialogue.png');
  background-size: cover;
  position: absolute;
  top: -150px;
  left: 110px;
  height: 220px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dialogue__monster,
.dialogue__monster-message {
  left: -150px;
  transform: scale(-1, 1);
}

.dialogue--hidden {
  display: none;
}

.dialogue__hero-message,
.dialogue__monster-message {
  margin: 0px 50px 20px 50px;
  overflow: hidden;
  text-align: center;
}

.meteorite-hero,
.fist-hero {
  left: -300px;
}

.meteorite-monster,
.fist-monster {
  right: -300px;
}

.fist-hero {
  background-image: url('../img/fist-red.png');
  animation: flightFistHero 3s;
}

.fist-monster {
  background-image: url('../img/fist-yellow.png');
  animation: flightFistMonster 3s;
}

.meteorite-hero,
.meteorite-monster {
  background-image: url('../img/meteorite.png');
}

.meteorite-hero {
  animation: flightMeteoriteHero 3s; 
}

.meteorite-monster {
  animation: flightMeteoriteMonster 3s;
}

.meteorite-monster,
.meteorite-hero,
.fist-hero,
.fist-monster {
  position: absolute;
  top: 50%;
  background-size: cover;
  width: 300px;
  height: 150px;
  animation-timing-function: cubic-bezier(1,.2,1,.98);
}

.fist-hero,
.fist-monster {
  width: 200px;
  height: 250px;
}

.button-play {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: none;
  color: white;
  user-select: none;
  font-size: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.button-play:hover {
  background-color: transparent;
  background-image: url('../img/planet-earth.png');
  background-size: cover;
  font-size: 0px;
  box-shadow: inset 0px 0px 20px 2px black;
}

.button-play:hover{
  animation: spin 20s linear 0s infinite;
}

th, td {
  padding: 5px 20px;
  text-align: center;
}

@keyframes fightCollapse {
  from {

  }

  to {
      transform: scaleY(0);
  }
}

@keyframes fightSlide {
  0% {
      transform: translateX(50vw);
  }

  33% {
      transform: translateX(0vw);
  }

  66% {
      transform: translateX(0vw);
  }

  100% {
      transform: translateX(-100vw);
  }
}

@keyframes flightMeteoriteHero {
  0% {
      transform: translate(500px, -500px) scale(-1, 1) rotate(-45deg);
  }

  99% {
    transform: translate(77vw, 0px) scale(-2, 2) rotate(-45deg);
  }

  100% {
    transform: scale(0, 0);
  }
}

@keyframes flightMeteoriteMonster {
  0% {
      transform: translate(500px, -500px) scale(-1, -1) rotate(135deg);
  }

  99% {
    transform: translate(-77vw, 0px) scale(-2, -2) rotate(135deg);
  }

  100% {
    transform: scale(0, 0);
  }
}

@keyframes flightFistHero {
  0% {
      transform: scale(-1, 1) rotate(-90deg);
  }

  99% {
    transform: translateX(82vw) scale(-1, 1) rotate(-90deg);
  }

  100% {
    display: none;
  }
}

@keyframes flightFistMonster {
  0% {
      transform: scale(-1, -1) rotate(90deg);
  }

  99% {
    transform: translateX(-82vw) scale(-1, -1) rotate(90deg);
  }

  100% {
    display: none;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}